<div class="content">
    <h1>{{ context.book.title }}<br><small>by {{ context.book.author }}</small></h1>
    <div class="center-column">
        <div class="context">
            <p>
                <span ng-repeat="sentence in context.sentences" ng:class="{true:'unblurred',false:'blurred'}[sentence.visible]"><a id="sentence{{ sentence.sentence.id }}" ng-click="click('#sentence'+sentence.sentence.id, sentence.sentence.id)">{{ sentence.sentence.content }}</a></span>
            </p>
        </div><!-- /.context -->
        <div class="guess">
            <textarea class="form-control" rows=3 placeholder="Your guess..."></textarea>
        </div><!-- /.guess -->
        <div class="actions">
            <div class="skip-button">
                <button type="button" class="btn btn-default btn-lg">Skip</button>
            </div>
            <div class="guess-button">
                <button type="button" class="btn btn-primary btn-lg pull-right">Make guess</button>
            </div>
        </div><!-- /.actions -->
    </div><!-- /.center-column -->
    
    <div class="right-column">
        <div class="monies-panel">
            <h2>Hello, {{ user.name }}</h2>
            <h3>{{ user.monies }} monies</h3>
            <h3>{{ user.score }} points</h3>
            <h3>{{ user.reviewCount }} reviews</h3>
            <h3>{{ user.guessCount }} guesses</h3>
        </div><!-- /.monies-panel -->
    </div><!-- /.right-column -->
</div><!-- /.content -->
