    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Not enough monies!</h4>
      </div>
      <div class="modal-body">
        <p>You need more monies before you can buy this sentence. Try reviewing some guesses.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close()">Close</button>
      </div>
    </div><!-- /.modal-content -->
