    <div class="modal-content modal-lg">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4>{{ review.guess.context.book.title }}<br><small>by {{ review.guess.context.book.author }}</small></h4>
      </div>
      <div class="modal-body">
        <div class="panel panel-default">
          <div class="panel-heading">Context</div>
          <div class="panel-body">
            <p>
              <span ng-repeat="sentence in review.guess.context.sentences" class="unblurred">{{ sentence.sentence.content }}</span>
            </p>
          </div>
        </div><!-- /.context -->
        <div class="content">
          <div class="center-column panel panel-default">
            <div class="panel-heading">Guess</div>
            <div class="panel-body">
              {{ review.guess.guess }}
            </div>
          </div>
          <div class="right-column">
            <div class="row">
              <label class="col-md-4">Grammar Score</label>
              <div class="btn-group col-md-8">
                <button ng-repeat="value in [1, 2, 3, 4, 5]" type="button" class="btn btn-info" ng-click="review.score.grammarScore=value" ng:class="{true:'active',false:''}[review.score.grammarScore==value]">{{ value }}</button>
              </div><!-- /.btn-group -->
            </div>
            <div class="row">
              <label class="col-md-4">Accuracy Score</label>
              <div class="btn-group col-md-8">
                <button ng-repeat="value in [1, 2, 3, 4, 5]" type="button" class="btn btn-info" ng-click="review.score.accuracyScore=value" ng:class="{true:'active',false:''}[review.score.accuracyScore==value]">{{ value }}</button>
              </div><!-- /.btn-group -->
            </div>
            <div class="row">
              <label class="col-md-4">Fun Score</label>
              <div class="btn-group col-md-8">
                <button ng-repeat="value in [1, 2, 3, 4, 5]" type="button" class="btn btn-info" ng-click="review.score.funScore=value" ng:class="{true:'active',false:''}[review.score.funScore==value]">{{ value }}</button>
              </div><!-- /.btn-group -->
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close()">Close</button>
        <button type="button" class="btn btn-primary" ng-click="submit()">Submit</button>
      </div>
    </div><!-- /.modal-content -->
